@using EImece.Domain.Helpers
@{
    ViewBag.Title = "Home Page";
    var p = (string)ViewBag.AirDropUrl;
    var AirDropUrl =  p.ToStr();
}
<br />
<button type="button" class='btn btn-info btn-block' id="GetAirDropForm">Fill Out Air Drop Form </button>
<input type="text" placeholder="Air Drop Form Google Doc link." style="width:100%" value="@AirDropUrl" id="airDropLinkTxt"/>
<br><br>
<span id="airDropHtmlPage"></span>

@section Scripts{
    <script>

        $(document).ready(function () {
            $("#btnSubmit").click(function () {
                console.log("asdfasdf");
                $('input[aria-label]').each(function () {
                    var label = $(this).attr('aria-label');
                    console.log(label);
                });
            });
        });

    </script>
   


    }