 
@{
    ViewBag.Title = "Home Page";
}
<br />
<button type="button" id="GetAirDropForm">Fill OUT Air Drop Form </button>
<input type="text" id="airDropLinkTxt"/>
<br>
<span id="airDropHtmlPage"></span>